  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#store-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Store Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="store-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/addstores">
              <i class="bi bi-circle"></i><span>Add Store</span>
            </a>
          </li>
          <li>
            <a href="/showstores">
              <i class="bi bi-circle"></i><span>Show Stores</span>
            </a>
          </li>
    
        </ul>
      </li><!-- End Components Nav -->

     
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#category-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Category Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="category-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/addcategory">
              <i class="bi bi-circle"></i><span>Add Category</span>
            </a>
          </li>
          <li>
            <a href="/showcategory">
              <i class="bi bi-circle"></i><span>Show Categories</span>
            </a>
          </li>
    
        </ul>
      </li>
     </li>
     <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#subcategory-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span> Sub Category Management</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="subcategory-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/addsubcategory">
            <i class="bi bi-circle"></i><span>Add Sub Category</span>
          </a>
        </li>
        <li>
          <a href="/showsubcategory">
            <i class="bi bi-circle"></i><span>Show Sub Categories</span>
          </a>
        </li>
  
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#sub-subcategory-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span> Sub-SubCategory Management</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="sub-subcategory-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/addsub_subcategory">
            <i class="bi bi-circle"></i><span>Add Sub-SubCategory</span>
          </a>
        </li>
        <li>
          <a href="/showsub_subcategory">
            <i class="bi bi-circle"></i><span>Show Sub-SubCategory </span>
          </a>
        </li>
  
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#product-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Product Management</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="product-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/addproduct">
            <i class="bi bi-circle"></i><span>Add Product</span>
          </a>
        </li>
        <li>
          <a href="/showproduct">
            <i class="bi bi-circle"></i><span>Show Product</span>
          </a>
        </li>
  
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#BCM-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Blog Category Management</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="BCM-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/addblogcategory">
            <i class="bi bi-circle"></i><span>Add Blog Category</span>
          </a>
        </li>
        <li>
          <a href="/showblogcategory">
            <i class="bi bi-circle"></i><span>Show Blog Category</span>
          </a>
        </li>
  
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#BPM-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Blog Post Management</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="BPM-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/addblogpost">
            <i class="bi bi-circle"></i><span>Add Blog Post</span>
          </a>
        </li>
        <li>
          <a href="/showblogpost">
            <i class="bi bi-circle"></i><span>Show Blog Post</span>
          </a>
        </li>
  
      </ul>
    </li>
   </li>


      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="/logout">
          <i class="bi bi-person"></i>
          <span>logout</span>
        </a>
      </li> -->


    </ul>

  </aside><!-- End Sidebar-->
